## FUNCTIONS
#### A function is a block of code which is used to perform a specific task and only runs when it is called.
##### TYPES OF FUNCTIONS
##### 1. User defined
##### 2. Built-in functions

In [27]:
# USER DEFINED FUNCTIONS

def hello():
    #block of code
    print("Hello from the function")
    
hello() #calling a function

Hello from the function

In [28]:
def add():
    a = 10
    b = 20
    c = a+b
    print(c)
add()

30

In [29]:
# PARAMETER AND ARGUMENTS
      # function ko banate time info pass karana
      # function ko call krte time cheezo ko call krna 
      
def addd(a,b):
    print(a+b)
    
addd(5,6)

11

In [30]:
## ARBITARY ARGUMENTS     ----args----   *
    ## used when the number of arguments to be used are not known

def child(*kids):
    print("The youngest child is " + kids[2])
    
child("Mohan", "Rohan", "Sohan")

The youngest child is Sohan

In [31]:
## KEYWORD ARGUMENTS       ----
def child(child1, child2, child3):
    print("The youngest child is " + child3)
    
child (child3 = "A", child2 = "B", child1 = "C")

The youngest child is A

In [32]:
## ARBITARY KEYWORD ARGUMENTS     ----     **kwargs

def child(**kids):
    print("The youngest child is " + kids["child3"])
    
child (child3 = "A", child2 = "B", child1 = "C")

The youngest child is A

In [33]:
## DEFAULT PARAMETER VALUE

def hobby(name="Coding"):
    print("My hobby is " + name)
    
hobby("Cricket")
hobby()

My hobby is Cricket
My hobby is Coding

In [34]:
## PASSING LIST AS AN ARGUMENT
def lst(name):
    for i in name:
        print(i)
        
lst(["mohan","rohan","sohan"])

mohan
rohan
sohan

In [35]:
## AVERAGE FUNCTION

def avgg(name):
    print(sum(name)/len(name))
    
avgg([1,2,3,4,5,6,7,8,9,10])

5.5

## IN BUILT FUNCTIONS

#### LAMBDA FUNCTION

In [36]:
## LAMBDA FUNCTION --- small anonymous function
## lambda arguments : expression


x = lambda a : a + 10
x(5)   ## 5 is an argument used to set value for a argument

15

In [37]:
## ADDITION IN SHORTEST SYNTAX

x = lambda a,b : a + b
x(5,10)

15

In [38]:
x = lambda a : a*a
x(5)

25

#### MAP FUNCTION

In [ ]:
## map(function, iterable)
def sq(num):
    return num*num

lst = [1,2,3,4,5]
result = map(sq,lst)
print(result)     ## the output so printed is thus the nature of map function to show

<map object at 0x00000218035CE0E0>

In [40]:
def sq(num):
    return num*num

lst = [1,2,3,4,5]
result = map(sq,lst)
print(list(result))    ## typecasting done to change the output from object to the normal form

[1, 4, 9, 16, 25]

In [42]:
lst = [1,2,3,4,5]
result = filter(lambda num : num%2==0, lst)
print(list(result))

[2, 4]

In [43]:
#reduce
from functools import reduce

In [46]:
lst = [1,2,3,4,5]
result = reduce(lambda num1,num2 : num1 + num2, lst)
print(result)


## WORKING
'''from left to right
1 and 2 added then, lst = [3,3,4,5]
3 and 3, then lst = [6,4,5]
6 and 4, then lst = [10,5]
10 and 5, then lst = [15]'''

15

'from left to right\n1 and 2 added then, lst = [3,3,4,5]\n3 and 3, then lst = [6,4,5]\n6 and 4, then lst = [10,5]\n10 and 5, then lst = [15]'

In [47]:
## ENUMERATE 
lst = ["mohan","rohan","ram"]
result = enumerate(lst)
print(list(result))

[(0, 'mohan'), (1, 'rohan'), (2, 'ram')]

In [49]:
lst = ["mohan","rohan","ram"]
result = enumerate(lst, start = 10)   ## numbering(indexing) done using ur chosen number
print(list(result))

[(10, 'mohan'), (11, 'rohan'), (12, 'ram')]

In [50]:
## ZIP FUNCTION   ----    used to combine 2 or more iterables

lst1 = ["mohan","rohan","ram"]
lst2 = [1,2,3]
result = zip(lst1,lst2)
print(list(result))

[('mohan', 1), ('rohan', 2), ('ram', 3)]

In [51]:
lst1 = ["mohan","rohan","ram"]
lst2 = [1,2]
result = zip(lst1,lst2)
print(list(result))

[('mohan', 1), ('rohan', 2)]

In [ ]:
## UNZIPPING

zipped = [('mohan', 1), ('rohan', 2), ('ram', 3)]
name,index = zip(*zipped)
print(list(name))
print(list(index))

['mohan', 'rohan', 'ram']
[1, 2, 3]