# LOOPS

### FOR AND WHILE
##### FOR LOOP -- Iterating over a sequence (list, tuple, dict, string)

In [67]:
## string

for i in "hello":
    print(i)

h
e
l
l
o

In [68]:
lst = ["red", "blue", "green", "black"]
for i in lst:
    print(i, end=", ")

red, blue, green, black,

In [69]:
student = {
    "Name": "Thala",
    "Age": 21,
    "Course": "AI"
}
for i, j in student.items():
    print(i, "-----", j)

Name ----- Thala
Age ----- 21
Course ----- AI

In [70]:
## RANGE

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [71]:
for i in range(2, 10, 2): #(start, end, skip)
    print(i)

2
4
6
8

In [72]:
##NESTED FOR LOOP

lst1 = [1, 2, 3]
lst2 = ["red", "blue", "green"]
for i in lst1:
    for j in lst2:
        print(i, j)
        print("-----")

1 red
-----
1 blue
-----
1 green
-----
2 red
-----
2 blue
-----
2 green
-----
3 red
-----
3 blue
-----
3 green
-----

In [73]:
#BREAK AND CONTINUE 
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [74]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [75]:
##pass

for i in range(10):
    pass

In [76]:
lst1 = [1, 2, 3, 4, 5]
lst2 = []

for i in lst1:
    lst2.append(i ** 2)

print(lst2)

[1, 4, 9, 16, 25]

# WHILE LOOP
### WORKS UNTIL CONDITION TRUE

In [ ]:
i = 1      #starting is mandatorily given
while i<=10:
    print(i)
    i+=1    #if not given it gets stuck in infinite loop

10
9
8
7
6
5
4
3
2
1

In [80]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [86]:
i = 1
while i <= 10:
    print(i)
    break
    i += 1

1

In [87]:
i = 0
while i < 5:
    i += 1
    continue
    print(i)

In [ ]:
i = 1
j = 0
while i <= 10:
    j += i
    i += 1
print("Sum =", j)

Sum = 55