## SETS - denoted using {}
## unordered, unindexed,

In [211]:
st = {1, 2, "hello", True, "hello"}
print(st) # true not printed due to the mathematic nature of the sets as it considers True to be 1, so if we remove 1 and then print true it will print true
print(type(st))

{1, 2, 'hello'}
<class 'set'>

#### METHODS

In [212]:
st.add("pyhton")
print(st)

{'pyhton', 1, 2, 'hello'}

In [213]:
st.update([1,2,3,4,5]) #add multiple values
print(st)

{1, 2, 3, 4, 5, 'hello', 'pyhton'}

In [214]:
st.remove("hello")
print(st)

{1, 2, 3, 4, 5, 'pyhton'}

In [215]:
st.pop()
print(st)

{2, 3, 4, 5, 'pyhton'}

In [216]:
st.discard(5)
print(st)

{2, 3, 4, 'pyhton'}

#### MATHEMATICAL METHODS

In [217]:
a = {1, 2, 3}
b = {3, 4, 5}

In [218]:
print(a.union(b))

{1, 2, 3, 4, 5}

In [219]:
print(a.intersection(b))

{3}

In [220]:
print(a.difference(b)) #returns elements of a which are not in b

{1, 2}

In [221]:
#disjoint // checks if there are no common elements in sets then returns true else false
print(a.isdisjoint(b))

False

In [222]:
print(a.symmetric_difference(b)) #return elements of either but not both

{1, 2, 4, 5}

In [223]:
#subset // check if all the elements of one set are in another
print(a.issubset(b))

False

In [224]:
#superset // checks if one set contains all the element of another
print(a.issuperset(b))

False

In [225]:
##intersection update
a.intersection_update(b) # intersection ka answer nikal k a me dal diya
print(a)
print(b)

{3}
{3, 4, 5}

In [226]:
a = {1, 2, 3}
b = {3, 4, 5}
a.difference_update(b)
print(a)
print(b)

{1, 2}
{3, 4, 5}

In [227]:
a = {1, 2, 3}
b = {3, 4, 5}
a.symmetric_difference_update(b)
print(a)
print(b)

{1, 2, 4, 5}
{3, 4, 5}

In [1]:
x = 300
def myfunc():
  global x
  x = 200
myfunc()
print(x)

200